[report]
exclude_lines =
    pragma: no cover
    def __str__
    def __repr__
    dt = datetime.date(time)?.today

[run]
include =
    osm_opening_hours_humanized/main.py
    osm_opening_hours_humanized/frequent_fields.py
    osm_opening_hours_humanized/temporal_objects.py
    osm_opening_hours_humanized/field_parser.py
    osm_opening_hours_humanized/rendering.py
    osm_opening_hours_humanized/exceptions.py
